@()(implicit messages :MessagesProvider,request: RequestHeader,flash: Flash)
@import helper._

@flash.get("success")

@main("Profile"){

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">hello</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="@routes.UpdatedProfileController.getProfileDetails">Profile</a></li>
            <li><a href="@routes.ProfileController.viewAssignmentByUser">View Assignment</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li><a href="@routes.HomeController.index()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

}

